.listcontainer{
    display:flex;
    justify-content:center;
    margin-top:20px;
}
.listwrapper{
    width:100%;
    max-width: 1024px;
    display:flex;
    gap: 20px;
}
.listsearch{
    flex: 1;
    background-color:#febb02;
    padding:10px;
    border:10px;
    position:sticky;
    top: 10px;
}
.listresult{
    flex: 3;
}
.listtile{
    font-weight: 20px;
    color:#555;
    margin-bottom: 10px;
}
.lsitem{
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.lsitem>span{
    height: 30px;
    border:none;
    padding: 5px;
    background-color: white;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.lsitem>input{
    height: 30px;
    border:none;
    padding: 5px
}
.listresult{
    flex: 3;
    
   
}
.lsoptioninput{
    width: 50px;

}
.lsoptionitem{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color:grey;
    font-size: 12px;
}
.listsearch>button{
    padding:10px;
    background-color:#0071c2;
    color: aliceblue;
    border:none;width: 100%;
    font-weight: 500;
    cursor: pointer;
}